<div class="page-header">
  <h1>Aluno <small>Novo cadastro</small></h1>
  <div class="buttons">
    <%= link_to 'Cancelar', students_path, :class => 'btn btn-default' %>
  </div>
</div>
<%= render 'form' %>